.vimrc
index.rst
main.pdf
tesi-front.pdf
main.run.xml
*.fdb_latexmk
*.bcf
*.ptc
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc*
*.out
*.fls
*.synctex.gz

*.vimrc

*.dot
*main*fig*.tex
